@model Web.Models.ThongKecs

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Thống kê thu nhập";
}

<h2>Thống kê đơn đã xác nhận</h2>

<p>Số lượng đơn: @Model.SoLuongDon</p>
<p>Tổng thu nhập: @Model.TongTien đồng</p>


